

.music_container h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 30px;
}
.music_container h3 span{
    color: rgb(218, 89, 3);
}
.music_container span {
    color: rgb(190, 115, 1);
}
.music_container .music_card{
    border-radius: 20px;
    margin-top: 30%;
    padding-bottom: 30px;
    color: #fff;
    background-color: black;
}
.music_container .music_cards{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.music_container .music_card .music_btn{
    background-color: rgb(190, 115, 1);
    border-color: rgb(190, 115, 1);
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .rotating-icon {
    animation: rotate infinite 3s linear;
  }
  
  